# Business Problem:

A business man wants to open a chinese restaurant in Bangalore , India . He has four localities in his mind. He would like to know which locality should he choose to open his chinese restaurant.

As a data scientist I would be helping him out to find the best location among these four localities.

I will be using the four square APIs to find the venues in these localities and analyse those venues, their ratings and will recommend the most appropriate location to set up the restaurant.

# Data

I have coordinates of the four localities and I will be using the four square APIs to find the venues in these localities and analyse like how many chinese restaurants are already there, what are their ratings etc and then come up with the conclusion.

In [8]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes 
import folium # map rendering library

print('Libraries imported.')

Fetching package metadata .............
Solving package specifications: .

Package plan for installation in environment /opt/conda/envs/DSX-Python35:

The following NEW packages will be INSTALLED:

    altair:  2.2.2-py35_1 conda-forge
    branca:  0.3.1-py_0   conda-forge
    folium:  0.5.0-py_0   conda-forge
    vincent: 0.4.4-py_1   conda-forge

altair-2.2.2-p 100% |################################| Time: 0:00:00  54.74 MB/s
branca-0.3.1-p 100% |################################| Time: 0:00:00  27.91 MB/s
vincent-0.4.4- 100% |################################| Time: 0:00:00  37.06 MB/s
folium-0.5.0-p 100% |################################| Time: 0:00:00  49.24 MB/s
Libraries imported.

In [3]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share your notebook.
client_dd97b50625b24fe3945eb80f1c523877 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='AtXxp18BaTUORcFHIsTeDqM2ZmdQfm0rA6wRq_Evds_c',
    ibm_auth_endpoint="https://iam.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_dd97b50625b24fe3945eb80f1c523877.get_object(Bucket='mydatascienceproject-donotdelete-pr-dlxhcj6do4dlf4',Key='bangalore_codes.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,StateName,DistrictName,subdistname,villagename,locality_detail1,locality_detail2,locality_detail3,OfficeName,Pincode
0,KARNATAKA,BANGALORE,Bangalore North,Bangalore North,YELLAPPA CHETTY L/O,OZONE SOLUTION,ULSOOR MAIN ROAD,Sivan Chetty Gardens S.O,560042
1,KARNATAKA,BANGALORE,Bangalore North,Bangalore North,ULSOOR,TRIDGA SERVICE CENTRE,NaN,H.A.L II Stage H.O,560008
2,KARNATAKA,BANGALORE,Bangalore North,Bangalore North,INDIRANAGAR,"656 TOURS & TRAVELS, 660/1 SUN TECH",100 FEET ROAD,Indiranagar S.O (Bangalore),560038
3,KARNATAKA,BANGALORE,Bangalore South,Bangalore South,CHIKKADUGODI,SREE GUPTA GARMENTS,5 TH CROSS CHIKKADUGODI,Dharmaram College S.O,560029

In [6]:
df_address=df_data_1[['locality_detail1','Pincode']]
df_address

      locality_detail1  Pincode
0  YELLAPPA CHETTY L/O   560042
1               ULSOOR   560008
2          INDIRANAGAR   560038
3         CHIKKADUGODI   560029

In [10]:
# Cordinates of Bangalore, India
address = 'Bangalore, IN'

geolocator = Nominatim(user_agent="to_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinates of Bengaluru are {}, {}.'.format(latitude, longitude))

The geograpical coordinates of Bengaluru are 12.9791198, 77.5912997.

In [22]:

#df_address['locality_detail1'] = df_address.locality_detail1.astype(str)
#df_address['Pincode']=df_address.Pincode.astype(str)
df_address.astype('str')
df_address.dtypes

locality_detail1    object
Pincode             object
dtype: object

In [25]:
import requests

# save your API key
API_key = 'AIzaSyBom_-qZFOLGRrHtagS8A_rhXBj39UdEC8'

complete_address = df_address['Pincode']+","+df_address['locality_detail1']
print(complete_address)
# list lat et lng
latitude=[]
longitude=[]
# search each lat and lng
for address in complete_address:
    try: 
        
        url = 'https://maps.googleapis.com/maps/api/geocode/json?key={}&address={}'.format(API_key, address )

        response = requests.get(url).json() 
        #print("response :" ,response)
        geographical_data = response['results'][0]['geometry']['location'] 
       
      
        lat = geographical_data['lat']
        long = geographical_data['lng']
        latitude.append(lat)
     
        longitude.append(long)
        
    except Exception as e:
        print('error:::',e)

df_address['Latitude']= latitude
df_address['Longitude']= longitude
df_address

0    560042,YELLAPPA CHETTY L/O
1                 560008,ULSOOR
2            560038,INDIRANAGAR
3           560029,CHIKKADUGODI
dtype: object

/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/ipykernel/__main__.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/ipykernel/__main__.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      locality_detail1 Pincode   Latitude  Longitude
0  YELLAPPA CHETTY L/O  560042  12.975373  77.617812
1               ULSOOR  560008  12.981715  77.628558
2          INDIRANAGAR  560038  12.978346  77.640787
3         CHIKKADUGODI  560029  12.928755  77.609483